@import "./fonts";
@import "./variables";
@import "./grid";

html {
  width: 100vw;
  min-height: 100vh;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  border-radius: 1rem;
  width: 30rem;

  .input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    width: 100%;

    label {
      font-size: 1.5rem;
      margin-bottom: 0.5rem;
      color: var(--color-title);
      font-family: "Filson Pro";
    }

    input {
      padding: 0.5rem;
      font-size: 1.5rem;
      border: 1px solid var(--color-paragraph);
      border-radius: 0.5rem;
      font-family: "Filson Pro";
    }
  }

  button {
    padding: 0.5rem;
    font-size: 1.5rem;
    border: none;
    border-radius: 0.5rem;
    background-color: var(--color-pink);
    color: var(--color-white);
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    max-width: 48%;
    display: flex;
    justify-content: center;
    align-items: center;
  
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    &:disabled {
      background-color: var(--color-paragraph);
      cursor: not-allowed;
    }

    font-family: "Filson Pro";
  }

  a {
    color: var(--color-primary);
    font-family: "Filson Pro";
    text-decoration: underline;
    display: flex;
    justify-content: flex-end;

    &:hover {
      color: var(--color-primary-dark);
    }
  }

  @media only screen and (max-width: 375px) {
    width: 90%;

    .input-group input {
      width: 100%;
    }

    button {
      width: 100%;
    }

    a {
      justify-content: center;
    }
  }
}

ul{
  list-style: none;
  padding: 0;
  margin: 0;
  margin-left: 100px;
}
